<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>    
</head>
<body class="h-[100dvh] bg-[#f5f5f5] py-20">

    <main class="max-w-lg mx-auto">
        <div class="border border-[#e5e5e5] rounded-lg w-full bg-white p-5 mb-3">
            <div class="flex items-center gap-2">
                <i class="ph ph-microphone"></i>

                <p class="text-sm font-semibold">Запись с микрофона</p>
            </div>

            <div class="flex items-center gap-2.5 mt-2">
                <button id="record" class="text-xs border border-[#a3a3a3] bg-[#fafafa] px-3 py-2 rounded-lg">
                    <i class="ph ph-microphone"></i>

                    <span id="recTimer">Начать запись</span>
                </button>
            </div>

            <audio id="recAudio" hidden controls class="w-full h-9 mt-4"></audio>

            <div id="recActions" hidden class="flex items-center gap-2.5 mt-4">
                <button
                    id="recSend"
                    class="text-xs border w-full border-transparent text-white bg-black px-3 py-2 rounded-lg disabled:opacity-60 disabled:cursor-not-allowed"
                >Распознать</button>

                <button
                    id="recDelete"
                    class="text-xs border w-full border-[#a3a3a3] bg-[#fafafa] px-3 py-2 rounded-lg"
                >Удалить</button>
            </div>
        </div>

        <div class="border border-[#e5e5e5] rounded-lg w-full bg-white p-5 mb-3">
            <div class="flex items-center gap-2">
                <i class="ph ph-upload-simple"></i>

                <p class="text-sm font-semibold">Загрузка файла</p>
            </div>

            <div class="flex items-center gap-2.5 mt-2">
                <button id="upload" class="text-xs border border-[#a3a3a3] bg-[#fafafa] px-3 py-2 rounded-lg">Выбрать файл</button>

                <span class="text-xs text-[#737373]">MP3, WAV, M4A, OGG</span>
            </div>

            <div id="uploadMusic" hidden class="mt-4 py-2.5 px-3 bg-[#fafafa] border-[#e5e5e5] rounded-lg flex items-center gap-2.5">
                <div class="size-8 flex items-center justify-center rounded-sm bg-white border border-[#e5e5e5]">
                    <i class="ph ph-music-notes-simple text-[#737373]"></i>
                </div>

                <div>
                    <div id="fileName" class="text-xs font-medium"></div>

                    <div id="fileSize" class="text-xs text-[#737373]"></div>
                </div>
            </div>

            <div id="upActions" hidden class="flex items-center gap-2.5 mt-4">
                <button
                    id="upSend"
                    class="text-xs border w-full border-transparent text-white bg-black px-3 py-2 rounded-lg disabled:opacity-60 disabled:cursor-not-allowed"
                >Распознать</button>

                <button
                    id="upDelete"
                    class="text-xs border w-full border-[#a3a3a3] bg-[#fafafa] px-3 py-2 rounded-lg"
                >Удалить</button>
            </div>

            <input type="file" id="fileInput" style="display:none;"/>
        </div>

        <div clas="border border-[#e5e5e5] bg-white shadow-sm rounded-lg p-5">
            <div class="flex items-center gap-2 mb-2">
                <i class="ph ph-list"></i>

                <p class="text-sm font-semibold">Расшифровка</p>
            </div>

            <div id="transcriptionBody" class="border border-[#e5e5e5] bg-[#fafafa] min-h-[88px] rounded-lg p-4 flex items-center justify-center text-center text-xs text-[#737373]">
                Текст появится здесь после распознавания аудио
            </div>
        </div>
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>